<h1>Suosituimmat pizzat</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Pizza</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @favoritepizzas.each do |favoritepizza| %>
      <tr>
        <td><%= favoritepizza.user_id %></td>
        <td><%= favoritepizza.pizza.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
